/* General Styles */

html, body, form, fieldset, img img a {
    margin: 0;
    padding: 0;
    border: 5;
}

h1 {
    line-height: 120%;
    font-size: 24px;
    font-family: 'Aclonica', Helvetica, serif;
    text-align: center;
}

body {
    color: black;
    background: url(../thewrigleyway/3%20Dunham%20.jpg);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 120%;
    font-size: 14px;
}

logo {
    background-color: azure;
    width: 200px;
    height: 100px;
}

p {
    text-align: center;
}
footer {
    margin-top: 730px;
}

/* Main Menu Styles */

footer .dropdownmenu {
    float: left;
    padding: 0;
}
.dropdownmenu ul, .dropdownmenu li {
	margin-top: 5;
    margin-right: 10;
	padding: 0;
}
.dropdownmenu ul {
	background: white;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: right;
	position: relative;
	width: auto;
}
.dropdownmenu a {
	background: white;
	color: black;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
    color: white;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: .5;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background-color: darkseagreen;
}
#submenu a {
	background-color: white;
    color: black;
}








/* playlist page CSS */

h5 {
    text-align: center;
}

/* lava lamp background */

/*.dots {
		position: relative;
		width: 1000px;
		height: 1000px;
		margin: 0 auto;
		background: lavender;
        
	
		-webkit-filter: blur(20px) contrast(30);
		-moz-filter: blur(20px) contrast(30);
		-o-filter: blur(20px) contrast(30);
		filter: blur(20px) contrast(30);
}

.dot {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	
		border-radius: 100%;
		-webkit-user-select: none;
	
		background: seagreen;
}

.dot:first-child {
		width: 140px;
		height: 140px;
		top: 0;
		right: 45%;
	
		-webkit-animation: upDown 5s infinite ease-in-out;
		-moz-animation: upDown 5s infinite ease-in-out;
		animation: upDown 5s infinite ease-in-out;
}

.dot:nth-child(2) {
		width: 70px;
		height: 70px;
		left: 52%;
		top: -8%;
		
		-webkit-animation: leftRight 7s infinite ease-in-out;
		-moz-animation: leftRight 7s infinite ease-in-out;
		animation: leftRight 7s infinite ease-in-out;
}

.dot:nth-child(3) {
		width: 80px;
		height: 80px;
		top: 20%;
		left: 54%;
	
		-webkit-animation: upDown 15s infinite ease-in-out;
		-moz-animation: upDown 15s infinite ease-in-out;
		animation: upDown 15s infinite ease-in-out;
}

.dot:nth-child(4) {
		width: 90px;
		height: 90px;
		top: 30%;
		left: 40%;
		
		-webkit-animation: leftRight 5s infinite ease-in-out;
		-moz-animation: leftRight 5s infinite ease-in-out;
		animation: leftRight 5s infinite ease-in-out;
}

.dot:nth-child(5) {
		width: 70px;
		height: 70px;
		top: 57%;
		left: 58%;
	
		-webkit-animation: leftRightUpDown 15s infinite ease-in-out;
		-moz-animation: leftRightUpDown 15s infinite ease-in-out;
		animation: leftRightUpDown 15s infinite ease-in-out;
}

.dot:nth-child(6) {
		width: 58px;
		height: 58px;
		top: 10%;
		left: 24%;
	
		-webkit-animation: leftRightUpDown 15s infinite ease-in-out;
		-moz-animation: leftRightUpDown 15s infinite ease-in-out;
		animation: leftRightUpDown 15s infinite ease-in-out;
}


@-webkit-keyframes upDown {
		0% {
				-webkit-transform: translateY(-25px);
		}
		50% {
				-webkit-transform: translateY(25px);
		}
		100% {
				-webkit-transform: translateY(-25px);
		}
}

@-webkit-keyframes leftRight {
		0% {
				-webkit-transform: translateX(-25px);
		}
		50% {
				-webkit-transform: translateX(25px);
		}
		100% {
				-webkit-transform: translateX(-25px);
		}
}

@-webkit-keyframes leftRightUpDown {
		0% {
				-webkit-transform: translate(-25px, -22px);
		}
		50% {
				-webkit-transform: translate(25px, 22px);
		}
		100% {
				-webkit-transform: translate(-25px, -22px);
		}
}
*/

@import "nib"


$color1 = rgba(red,.75)
$color2 = white

body
  background rgba($color1,.2)
  overflow hidden

//Stylus error on codepen
//ask for a rgb or hsl value otherwise
@css{
  body{
    -webkit-filter: contrast(100);
  }
}


random(a,b)
	return math(math(0, 'random')*(b - a + 1) + a, 'floor')



#wrapper
	position absolute
	left -50%
	top -100%
	width 200%
	height 300%
	animation translateY 20s infinite ease-in-out,translateX 10s infinite ease-in-out,colorRoll 20s infinite linear
	background linear-gradient(rgba($color1,.75),$color1)
 
.center
	width 200px
	height @width
	background rgba($color2,.75)
	border-radius 50% 
	position absolute
	top 50%
	left 50%
	transform translate3D(-50%,-50%,0)
	-webkit-filter blur(15px)
    
.ball
	content ''
	border-radius 50% 
	position absolute
	top 50%
	left 50%
	-webkit-filter blur(30px)
	transform-origin 0 0
    
	for ball in 1..9
		&:nth-of-type({ball})
			width random(80,120)+0px
			height @width
			background $color2
			animation rotate random(5000,20000)+0ms linear infinite, translateY infinite random(10000,20000)+0ms, translateX infinite random(10000,20000)+0ms

@keyframes rotate
	0%
		transform rotate(0) translate3D(80px,-50%,0) scale(1.2)
	50%
		transform rotate(180deg) translate3D(0px,-50%,0) scale(1)
	100%
		transform rotate(360deg) translate3D(80px,-50%,0) scale(1.2)

tX = 20px	
tY = 200px	
@keyframes translateY
	0%,100%
		margin-top -1 * tY
	50%
		margin-top tY
@keyframes translateX
	0%,100%
		margin-left -1 * tX
	50%
		margin-left tX
@keyframes colorRoll
	0%,100%
		opacity 1
	50%
		opacity .75







/* media player */



