/* General Styles */

html, body, form, fieldset, img img a {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: darkblue;
    background: url(../thewrigleyway/3%20Dunham%20.jpg);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 120%;
    font-size: 12px;
}

a:link, a:visited {
    color: aliceblue;
    text-decoration: underline;
}

a:hover {
    color: cornflowerblue;
}

.article_separator {
    line-height: 5px;
    height: 5px;
    font-size: 5px;
}

logo {
    background-color: azure;
    width: 200px;
    height: 100px;
}