/* General Styles */

html, body, form, fieldset, img img a {
    margin: 0;
    padding: 0;
    border: 5;
}

h1 {
    line-height: 120%;
    font-size: 24px;
    font-family: 'Aclonica', Helvetica, serif;
    text-align: center;
}

body {
    color: black;
    background: url(../thewrigleyway/3%20Dunham%20.jpg);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 120%;
    font-size: 14px;
}

logo {
    background-color: azure;
    width: 200px;
    height: 100px;
}

p {
    text-align: center;
}
footer {
    margin-top: 730px;
}

/* Main Menu Styles */

footer .dropdownmenu {
    float: left;
    padding: 0;
}
.dropdownmenu ul, .dropdownmenu li {
	margin-top: 5;
    margin-right: 10;
	padding: 0;
}
.dropdownmenu ul {
	background: white;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: right;
	position: relative;
	width: auto;
}
.dropdownmenu a {
	background: white;
	color: black;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
    color: white;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: .5;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background-color: darkseagreen;
}
#submenu a {
	background-color: white;
    color: black;
}








/* playlist page CSS */

h5 {
    text-align: center;
}

/* lava lamp background */

.dots {
		position: relative;
		width: 600px;
		height: 600px;
		margin-top: 15;
		background: white;
        
	
		-webkit-filter: blur(20px) contrast(30);
		-moz-filter: blur(20px) contrast(30);
		-o-filter: blur(20px) contrast(30);
		filter: blur(20px) contrast(30);
}

.dot {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	
		border-radius: 100%;
		-webkit-user-select: none;
	
		background: lavender;
}

.dot:first-child {
		width: 140px;
		height: 140px;
		top: 0;
		right: 45%;
	
		-webkit-animation: upDown 3s infinite ease-in-out;
		-moz-animation: upDown 3s infinite ease-in-out;
		animation: upDown 3s infinite ease-in-out;
}

.dot:nth-child(2) {
		width: 70px;
		height: 70px;
		left: 52%;
		top: -8%;
		
		-webkit-animation: leftRight 5s infinite ease-in-out;
		-moz-animation: leftRight 5s infinite ease-in-out;
		animation: leftRight 5s infinite ease-in-out;
}

.dot:nth-child(3) {
		width: 80px;
		height: 80px;
		top: 20%;
		left: 54%;
	
		-webkit-animation: upDown 10s infinite ease-in-out;
		-moz-animation: upDown 10s infinite ease-in-out;
		animation: upDown 10s infinite ease-in-out;
}

.dot:nth-child(4) {
		width: 90px;
		height: 90px;
		top: 30%;
		left: 40%;
		
		-webkit-animation: leftRight 3s infinite ease-in-out;
		-moz-animation: leftRight 3s infinite ease-in-out;
		animation: leftRight 3s infinite ease-in-out;
}

.dot:nth-child(5) {
		width: 70px;
		height: 70px;
		top: 57%;
		left: 58%;
	
		-webkit-animation: leftRightUpDown 10s infinite ease-in-out;
		-moz-animation: leftRightUpDown 10s infinite ease-in-out;
		animation: leftRightUpDown 10s infinite ease-in-out;
}

.dot:nth-child(6) {
		width: 58px;
		height: 58px;
		top: 10%;
		left: 24%;
	
		-webkit-animation: leftRightUpDown 12s infinite ease-in-out;
		-moz-animation: leftRightUpDown 12s infinite ease-in-out;
		animation: leftRightUpDown 12s infinite ease-in-out;
}


@-webkit-keyframes upDown {
		0% {
				-webkit-transform: translateY(-10px);
		}
		50% {
				-webkit-transform: translateY(10px);
		}
		100% {
				-webkit-transform: translateY(-10px);
		}
}

@-webkit-keyframes leftRight {
		0% {
				-webkit-transform: translateX(-10px);
		}
		50% {
				-webkit-transform: translateX(10px);
		}
		100% {
				-webkit-transform: translateX(-10px);
		}
}

@-webkit-keyframes leftRightUpDown {
		0% {
				-webkit-transform: translate(-10px, -7px);
		}
		50% {
				-webkit-transform: translate(10px, 10px);
		}
		100% {
				-webkit-transform: translate(-10px, -7px);
		}
}






/* media player */



