/* General Styles */

html, body, form, fieldset, img img a {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    line-height: 120%;
    font-size: 24px;
    font-family: 'Aclonica', Helvetica, serif;
    text-align: center;
}

body {
    color: black;
    background: url(../thewrigleyway/3%20Dunham%20.jpg);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 120%;
    font-size: 14px;
}

header {
    position: relative;
    height: 10.5%;
    width: 1473.2px;
}

logo img {
    width: 100px;
    height: 80px;
    padding: 5px;
    margin-top: -23px;
    position: absolute;
}

p {
    text-align: center;
}
footer {
    margin-top: 793px;
}

/* Main Menu Styles */

footer .dropdownmenu {
    float: left;
    padding: 5px;
}

footer .rights {
    float: right;
    padding-top: 8px;
}
.dropdownmenu ul, .dropdownmenu li {
	margin-top: 0;
    margin-right: 0;
	padding: 5;
}
.dropdownmenu ul {
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: right;
	position: relative;
	width: auto;
}

.dropdownmenu a {
	color: black;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 9px 20px;
	text-align: center;
    border-radius: 5px;
    border: solid 2.5px black;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
    color: white;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 50px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
    color: dimgrey;

}
#submenu a {
    color: black;
    background-color: white;
}

/* playlist page CSS */

h5 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 10;
}

/* lava lamp background */
.container {
  position: absolute;
  width: 1483px;
  height: 800px;
  margin: 0;
  overflow: hidden;
  z-index: 0;
  background-image: linear-gradient(to bottom right, hotpink, mediumpurple);
}

.circle,
.topbottom {
  position: absolute;
  border-radius: 50%;
  backface-visibility: hidden;
  margin-left: -70;
          background-image: linear-gradient(lightgreen, mediumpurple);
}

.circle {
  animation: 25s toTop infinite ease-in-out;
    color: pink
}

.circle:nth-of-type(1) {
  width: 100px;
  height: 100px;
  right: 60px;
  top: -30px;
  animation-delay: 3s;
  animation: 25s toBottom infinite ease-in-out;
}

.circle:nth-of-type(2) {
  right: 100px;
  bottom: -70px;
  width: 180px;
  height: 160px;
}

.circle:nth-of-type(3) {
  width: 180px;
  height: 172px;
  right: 180px;
  top: -100px;
  animation: 25s toBottom infinite ease-in-out;
  animation-delay: 2s;
}

.circle:nth-of-type(4) {
  top: -120px;
  left: 110px;
  width: 170px;
  height: 190px;
  animation: 25s toBottom infinite ease-in-out;
  animation-delay: 5s;
}

.circle:nth-of-type(5) {
  width: 140px;
  height: 140px;
  left: 370px;
  animation-duration: 21s;
  bottom: -200px;
  animation-delay: 9s;
}

.circle:nth-of-type(6) {
  left: 300px;
  bottom: -70px;
  width: 180px;
  animation-delay: 6.2s;
  height: 160px;
}

.circle:nth-of-type(7) {
  width: 110px;
  height: 102px;
  left: 230px;
  animation-duration: 22s;
  animation-delay: 8.2s;
}

.circle:nth-of-type(8) {
  bottom: -100px;
  left: 485px;
  width: 70px;
  height: 70px;
  animation-delay: 15s;
}

.circle:nth-of-type(9) {
  bottom: -100px;
  right: 510px;
  width: 140px;
  height: 140px;
  animation-delay: 3s;
}
.circle:nth-of-type(10) {
  bottom: -100px;
  right: 510px;
  width: 60px;
  height: 80px;
  animation-delay: 7s;
}

.topbottom {
  width: 800px;
  height: 260px;
  z-index: 0;
  left: 50%;
}

.bottom {
  bottom: 0;
  width: 100%;
  transform: translate(-45%, 50%);
}

.top {
  top: 0;
  width: 100%;
  transform: translate( -45%, -50%);
}

@keyframes toTop {
  0% {
    transform: translateZ(0) translateY(0);
  }

  45% {
    transform: translateZ(0) translateY(-500px) scaleY(1.2);
  }

  100% {
    transform: translateZ(0) translateY(0) scale(0.8);
  }
}

@keyframes toBottom {
  0% {
    transform: translateZ(0) translateY(0);
  }

  45% {
    transform: translateZ(0) translateY(500px) scaleY(1.2);
  }

  100% {
    transform: translateZ(0) translateY(0) scale(1.4);
  }
}

/* media player */

.record-player {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.base {
  background-color: lavender;
  border: 5px solid #000;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  position: absolute;
}
.screw__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.base__screw {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: lightgrey;
  border: 5px solid #000;
  border-radius: 100%;
}
.base__screw:nth-child(1) {
  top: 5%;
  left: 5%;
}
.base__screw:nth-child(2) {
  top: 85%;
  left: 5%;
}
.base__screw:nth-child(3) {
  left: 90%;
  top: 5%;
}
.base__screw:nth-child(4) {
  left: 90%;
  top: 85%;
}
.console {
  width: 22%;
  height: 30%;
  position: relative;
  top: 40%;
  left: 74%;
}
.buttons {
  float: left;
  width: 25%;
  height: 60%;
}
.button {
  width: 100%;
  height: 20%;
  margin: 15%;
  border: 5px solid #000;
  background-color: white;
  border-radius: 4px;
}
.volume {
  float: right;
  border-left: 5px solid #000;
  height: 100%;
  width: 20%;
}
.volume:before {
  content: '';
  position: absolute;
  top: 20%;
  right: 5%;
  width: 12px;
  border: 5px solid #000;
  border-radius: 5px;
}
.record {
  position: relative;
  top: 18%;
  left: 14%;
  background-color: black;
  border: 5px solid black;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  animation: rotate 18s linear infinite;
}
.record__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: white 5px solid;
  border-right: white 5px solid;
  border-top: transparent 5px solid;
  border-bottom: transparent 5px solid;
  border-radius: 100%;
}
.record__line-1 {
  height: 110px;
  width: 110px;
}
.record__line-2 {
  height: 80px;
  width: 80px;
}
.record__hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.arm {
  position: relative;
  top: -100%;
  left: 22%;
  animation: tilt 18s linear infinite;
  height: 100%;
  width: 100%;
  transform: rotate(20deg);
}
.arm__top {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8%;
  width: 6%;
  border-radius: 10px;
  background-color: #000;
  transform: translate(-50%, -50%);
  border: 5px solid #000;
}
.arm__middle {
  position: absolute;
  top: 50%;
  left: -51%;
  width: 100%;
  margin: 0 auto;
  height: 60%;
  border-right: 5px solid #000;
}
.arm__bottom {
  position: absolute;
  top: 98%;
  left: 46%;
  height: 6%;
  width: 4%;
  border-radius: 6px;
  border: 5px solid #000;
  background-color: #ccc;
  animation: bump 1s linear infinite;
}

@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes tilt {
  90% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes tilt {
  90% {
    transform: rotate(45deg);
  }
}
@-o-keyframes tilt {
  90% {
    transform: rotate(45deg);
  }
}
@keyframes tilt {
  90% {
    transform: rotate(45deg);
  }
}
@-moz-keyframes bump {
  50% {
    transform: translate(-1px, 1px);
  }
}
@-webkit-keyframes bump {
  50% {
    transform: translate(-1px, 1px);
  }
}
@-o-keyframes bump {
  50% {
    transform: translate(-1px, 1px);
  }
}
@keyframes bump {
  50% {
    transform: translate(-1px, 1px);
  }
}

.container-audio {
    width: 97%;
    height: 27%;
    padding: 5px;
    border-radius: 5px;
    border: solid 5px black;
    background-color: whitesmoke;
    color: #444;
    margin-top: -120px;
    overflow: hidden;
}
